
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
  background-image: linear-gradient(45deg,#1CB5E0 70%, #000046 100%);
  /* background-image: linear-gradient(45deg, #fe6c5f 50%, #9b0123 100%); */
  /* display: relative; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#contact,
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text h1 {
  margin-block-end: -40px;
}
.skills img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  max-width: 50vw;
}
#contact a {
  display: block;
}
form input[type="email"],
textarea {
  padding: 15px;
  max-width: 100%;
  margin-bottom: 15px;
  border: none;
  background-color: #fff;
  border-radius: 14px;
  outline: none;
}
form input[type="email"]:focus,
textarea:focus {
  border-bottom: 3px solid #000046;
}
button[type="submit"] {
  width: 25%;
  background-color: #7bc74d;
  border: none;
  padding: 10px 0;
  color: #fff;
}
footer {
  display: absolute;
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: black;
  width: 100vw;
  color: #fff;
  padding: 15px;
}
footer a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  position: relative;
  width: 0;
}
footer a:last-child {
  margin-right: 0;
}
footer a:after {
width: 0;
left: 0;
content: "";
display: block;
height: 2px;
position: absolute;
background: white;
-webkit-transition: width 0.4s;
transition: width 0.4s;
}
footer a:hover::after {
  width: 100%;
  left: 100;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
