
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
  background-image: linear-gradient(45deg,#1CB5E0 70%, #000046 100%);
  /* background-image: linear-gradient(45deg, #fe6c5f 50%, #9b0123 100%); */
  /* display: relative; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
#contact,
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text h1 {
  margin-block-end: -40px;
  animation: scale-up-center .9s cubic-bezier(.39,.575,.565,1.000) both;
}
.main-text h2 {
  animation: scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;
}
.skills img {
  animation:scale-up-hor-left 1.5s cubic-bezier(.39,.575,.565,1.000) both;
}
.skills img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
.skills img:last-child {
  margin-right: 0;
}
.skill-project {
  border-radius: 10px;
  position: relative;
  height: 250px;
  min-width: 300px;
  max-width: 330px;
  box-shadow: 0 4px 12px -2px #868686;
  overflow: hidden;
}
.skill-project img,
.skill-project__description {
  min-width: 100%;
  min-height: 100%;
}
.skill-project img {
  object-fit: cover;
}
.skill-project__description {
  color: #1DB6E0;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(2,25px) 1fr 1fr;
  align-content: start;
  align-items: start;
  grid-gap: 5px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:  #000;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}
.skill-project__description p {
  margin-block-start: 1.4em;
}
.skill-project__description h3 {
  margin-block-start: 0.4em;
}
.skill-project__description:hover {
  background-color: rgba(0,0,0,.7);
}
.skill-project__links {
  align-self: end;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin-block-start: 5em;
}
.skill-project__links button {
  background-color: transparent;
  border: 2px solid #1DB6E0;
  padding: 10px;
  transition: all .5s ease-in-out; 
}
.skill-project__links button a {
  color: #1DB6E0;
  text-decoration: none;
}
.skill-project__links button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* .todo {
  background-image: url('./images/todo.png');
  background-position: center;
  background-repeat: no-repeat;
} */
#contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  max-width: 50vw;
}
#contact a {
  display: block;
}
form input[type="email"],
textarea {
  padding: 15px;
  max-width: 100%;
  margin-bottom: 15px;
  border: none;
  background-color: #fff;
  border-radius: 14px;
  outline: none;
}
form input[type="email"]:focus,
textarea:focus {
  border-bottom: 3px solid #000046;
}
textarea {
  min-height: 15vh;
}
button[type="submit"] {
  width: 25%;
  background-color: #7bc74d;
  border: none;
  padding: 10px 0;
  color: #fff;
}
footer {
  display: absolute;
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: black;
  width: 100vw;
  color: #fff;
  padding: 15px;
  z-index: 2;
}
footer a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  position: relative;
  width: 0;
}
footer a:last-child {
  margin-right: 0;
}
footer a:after {
width: 0;
left: 0;
content: "";
display: block;
height: 2px;
position: absolute;
background: white;
-webkit-transition: width 0.4s;
transition: width 0.4s;
}
footer a:hover::after {
  width: 100%;
  left: 100;
}
@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}
@keyframes scale-up-hor-left{0%{transform:scaleX(.4);transform-origin:0 0}100%{transform:scaleX(1);transform-origin:0 0}}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 580px) and (max-width: 680px) {
  .skills {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 700px) {
  .main-text h1 {
  margin-block-end: -25px;
  }
  .skill-project__links {
  margin-block-start: 6.5em;
  }
}
@media only screen and (max-width: 800px) {
  #contact form {
  width: 80vw;
  max-width: 80vw;
  }
}